html {
	scroll-behavior: smooth;
}

.navbar {
	/* background-color: red; */
}

body {
	background-color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
	background-color: blueviolet !important;
}
